body{
  text-align: center;
  font-family: Helvetica;
}
 .flatiron{
  background-image: url("images/flatiron-building.png");
  image-orientation:
}
.links{
  font-size: 18px;
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
.designed{
  Font-size: 23px:
  font-weight: bold;
  color: white;
}

.extra{
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}
