body{
  text-align: center;
  font-family: Helvetica;
}
 .flatiron{
  background-image: url("images/flatiron-building.png");
}
div p{
  font-size: 18px;
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
